
<div>
    <h2>Delete Position</h2>
    
    <%= form_for(@position, :method => "delete") do |f| %>
        <p class="divCenter">Are you sure you want to permanently delete this position?</p>
        <table class="tableCenter">
            <tr>
                <td class="columnLabel boldText">Name:</td>
                <td><%= @position.name %></td>
            </tr>
            <tr>
                <td class="columnLabel boldText">Type:</td>
                <td><%= @position.pos_type %></td>
            </tr>
            <tr>
                <td class="columnLabel boldText">Major:</td>
                <td><%= @position.major %></td>
            </tr> 
        </table>
        <div class="divCenter">
            <%= f.submit("Delete Position", :class => "btn btn-danger btn-sm") %>
            <%= link_to("Back to List", positions_path, :class => "btn btn-warning btn-sm") %>
        </div>
    <% end %>
</div>
