<div>
    <h2>Positions</h2>
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Major</th>
            <th></th>
        </tr>
        <% @positions.each do |position| %>
        <tr>
            <td><%= position.id %></td>
            <td><%= position.name %></td>
            <td><%= position.pos_type %></td>
            <td><%= position.major %></td>
            <td>
                <%= link_to("Show", position_path(position.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Edit", edit_position_path(position.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Delete", delete_position_path(position.id), :class => "btn btn-danger btn-xs") %>
            </td>
        </tr>
        <% end %>
    </table>
    <%= link_to("Add new position", new_position_path, :class => "btn btn-sm btn-success") %>
    <%= link_to("Back to menu", access_menu_path, :class => "btn btn-sm btn-warning")%>
</div>