
<div>
    <h2>Delete Division</h2>
    
    <%= form_for(@division, :method => "delete") do |f| %>
        <p class="divCenter">Are you sure you want to permanently delete this division?</p>
        <table class="tableCenter">
            <tr>
                <td class="columnLabel boldText">Name:</td>
                <td><%= @division.name %></td>
            </tr>
            <tr>
                <td class="columnLabel boldText">Description:</td>
                <td><%= @division.description %></td>
            </tr>
        </table>
        <div class="divCenter">
            <%= f.submit("Delete Division", :class => "btn btn-danger btn-sm") %>
            <%= link_to("Back to List", divisions_path, :class => "btn btn-warning btn-sm") %>
        </div>
    <% end %>
</div>
