<%= link_to("<< Back to List", divisions_path, :class => "back-link") %>

<div>
    <h2>Delete Division</h2>
    
    <%= form_for(@division, :method => "delete") do |f| %>
        <p>Are you sure you want to permanently delete this division?</p>
        <table>
            <tr>
                <td>Name</td>
                <td><%= @division.name %></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><%= @division.description %></td>
            </tr>
        </table>
        <div>
            <%= f.submit("Delete Division") %>
            
        </div>
    <% end %>
</div>
