<!DOCTYPE html>
<html lang="en">

<![if !IE]>
<link rel="icon" href="http://sec.tamu.edu/sec_favicon.ico" type="image/x-icon" />
<![endif]>
<!-- This is needed for IE -->
<link rel="shortcut icon" href="http://sec.tamu.edu/sec_favicon.ico" type="image/x-icon" />

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>SEC</title>

    <!-- Favicon Ico -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- =============================
                stylesheets
    ================================== -->


    <!-- Normalize And Bootstrap -->
    <%= stylesheet_link_tag "normalize.css" %>
    <%= stylesheet_link_tag "bootstrap.min.css" %>

    <!-- Google Font  -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600,700,400,300' rel='stylesheet' type='text/css'>

    <!-- Font Icons -->
    <%= stylesheet_link_tag "font-awesome.min.css" %>

    <!-- Plugin Default Stylesheets -->
    <%= stylesheet_link_tag "magnific-popup.css" %>
    <%= stylesheet_link_tag "slider-pro.css" %>
    <%= stylesheet_link_tag "owl.carousel.css" %>
    <%= stylesheet_link_tag "owl.theme.css" %>
    <%= stylesheet_link_tag "owl.transitions.css" %>
    <%= stylesheet_link_tag "animate.css" %>

    <!-- Main Stylesheet -->
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "responsive.css" %>
    <%= stylesheet_link_tag "color.css", id="colors" %>

    <!-- style sheets taken from other project-->
    <%= stylesheet_link_tag "jquery.countdown.css" %>
    <%= stylesheet_link_tag "maroon.css" %>
    <%= stylesheet_link_tag "main.css" %>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <script type="text/javascript" src="js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>

    <!-- =============================
                    Header
    ================================== -->
    <header>
        <!-- Navigation Menu start-->
        <nav class="navbar blete-main-menu" role="navigation">
            <div class="container">

                <!-- Navbar Toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo -->
                    <a class="navbar-brand" href="#top">
                        <%= image_tag("secbasic.png", :class => "logo", :id => "logo", :alt => "logo") %>
                        <!--<img class="logo" id="logo" src="secbasic.png" alt="logo"> -->
                    </a>

                </div>
                <!-- Navbar Toggle End -->

                <!-- navbar-collapse start-->
                <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav blete-menu-wrapper">
                        <li class="active" style="visibility: hidden;">
                            <a href="#top">SEC</a>
                        </li>
                        <li>
                            <a href="#aboutUs">About</a>
                        </li>
                        <li>
                            <a href="#sponsors">Sponsors</a>
                        </li>
                        <li>
                            <a href="#events">Events</a>
                        </li>
                        <li>
                            <a href="#executiveCouncil">Executive Council</a>
                        </li>
						<li>
                            <a href="#contactUs">Contact Us</a>
                        </li>
                        <li>
                            <a href="#calendar">Calendar</a>
                        </li>
                        <li>
                            <a href="#login">Student/Company Login</a>
                        </li>		
                    </ul>
                </div>
                <!-- navbar-collapse end-->

            </div>
        </nav>
        <!-- Navigation Menu end-->
    </header>
    <!-- Header End -->


    <!-- =============================
                Main Slider
    ================================== -->
    <section class="slider-pro blete-slider" id="blete-slider">
        <div class="sp-slides" id="top" style="cursor: default;">

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <%= image_tag("slider-img-1.jpg", :class => "sp-image", :alt => "Slider1") %>
                <!-- <img class="sp-image" src="images/img-header/slider-img-1.jpg" alt="Slider 1"/> -->

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <%= image_tag("secbasic.png",:class => "sliderlogo", :alt => "logo") %>
                <!-- <img src="images/secbasic.png" alt="logo" class="sliderlogo"> -->
                </h1>

                <p class="sp-layer"
                 data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-header-highlight-text"><br>Texas A&M <br> </span> Student Engineers' Council

                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
            <div class="blete-img-overlay"></div>
                <%= image_tag("slider-img-2.jpg", :class => "sp-image", :alt => "Slider2") %>
                <!-- <img class="sp-image" src="images/img-header/slider-img-2.jpg" alt="Slider 2"/> -->

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <%= image_tag("secbasic.png",:class => "sliderlogo", :alt => "logo") %>
                </h1>

                <p class="sp-layer"
                 data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    <span class="blete-header-highlight-text"><br>Career Fair <br></span>The Premier Texas A&M Engineering Recruiting Event
                </p>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>
                <%= image_tag("slider-img-3.jpg", :class => "sp-image", :alt => "Slider3") %>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <%= image_tag("secbasic.png",:class => "sliderlogo", :alt => "logo") %>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-header-highlight-text"><br>Outreach <br></span> Inspiring the Next Generation of <br> Aggie Engineers
                </p>

            </div>
            <!-- Slides End -->
            
            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>
                
                <%= image_tag("slider-img-4.jpg", :class => "sp-image", :alt => "Slider4") %>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <%= image_tag("secbasic.png",:class => "sliderlogo", :alt => "logo") %>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-header-highlight-text"><br>Membership <br> </span> Celebrating 78 Years of SEC
                </p>

            </div>
            <!-- Slides End -->
            
            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <%= image_tag("slider-img-5.jpg", :class => "sp-image", :alt => "Slider5") %>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <%= image_tag("secbasic.png",:class => "sliderlogo", :alt => "logo") %>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-header-highlight-text"><br>Giving Back <br> </span> SEC Donated the First $1M to the New <br>Engineering Education Complex
                </p>

            </div>
            <!-- Slides End -->
            
            <!-- Slides -->
            <div class="sp-slide blete-main-slides">
                <div class="blete-img-overlay"></div>

                <%= image_tag("slider-img-6.jpg", :class => "sp-image", :alt => "Slider6") %>

                <h1 class="sp-layer blete-slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <%= image_tag("secbasic.png",:class => "sliderlogo", :alt => "logo") %>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                   <span class="blete-header-highlight-text"><br>Legislation <br></span> Collecting and Presenting <br>Student Opinion to Administration
                </p>

            </div>
            <!-- Slides End -->

        </div>
        
    </section>
    <!-- Main Slider End -->

    <!-- =============================
                    News Section
    ================================== -->
    <!-- News Feed -->
        <div id="newsFeed" class="anchor"></div>
        <section id="news" class="blete-section-wrapper blete-features-section" data-stellar-background-ratio="0.5">
            <div class="blete-parallax-overlay"></div>
            <div class="container">
                <div class="row">
                    <!-- Section Header -->
                        <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header">
                            <h2>RECENT <span class="blete-highlight-text">NEWS</span></h2>
                            <div class="blete-section-divider"></div>
                        </div>
                    <!-- Section Header End -->

                    <div class="col-md-8 col-md-8 col-xs-12 col-md-offset-2">
                        <div class="panel-group">

                          

                          

                         

                          

                          

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#faq" href="#collapseTwo" class="collapsed">
                                  <i class="fa fa-2x fa-plus-circle"></i> E-Week: February 20th - 24th!
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p><b>National Engineers' Week</b>
                                    <br />Come celebrate E-Week at one of our many events this week! Check out the schedule below, or visit our <a href="http://sec.tamu.edu/eweek">site</a> for more information!
                                    <br /></br><b>Monday, February 20th</b>
                                    <br />What: Free Starbucks coffee and Shipley's glazed donuts
                                    <br />Where: Located in the Lobby of ETB, Blocker and MSC 12th man hallway
                                    <br />When: 8:00am - 10:00am
									
                                    <br /></br><b>Tuesday, February 21st</b>
									</br>What: Women in Material Science: MSEN Mini-Conference and Lab Tour
									</br>Where: ENPH 204
									</br>When: 5:15pm - 7:20pm
                                    <br />RSVP <a href="https://goo.gl/tsm4ty" target="_blank">here</a> and email <a href="mailto:tamu.wims@gmail.com" target="_blank">tamu.wims@gmail.com</a> with any questions

                                    <br /><br /><b>Wednesday, February 22nd</b>
                                    <br />What: E-Week Movie night with MSC Aggie Cinema
                                    <br />Where: MSC Bethancourt Ballroom 2300 A
                                    <br />When: 6:30pm
                                    <br />We will be showing <i>The Martian</i> and serving free Fuego breakfast tacos

                                    <br /><br /><b>Friday, February 24th</b>
                                    <br />What: E-Week Finale
                                    <br />Where: Rudder Plaza
                                    <br />When: 1:00pm - 4:00pm
                                    <br />Compete in engineering related activities hosted by engineering societies. There will be $1500 in raffle prizes!
                                    <br />There will be free Double Dave's Pizza, Sweet Pops kettle corn and Sam's Club cookies
								</p>
                               <img src="\images\Eweek_logo.png" alt="Eweek Logo" width="50%" />
                              </div>
                            </div>
                          </div>

                          

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#faq" href="#collapseOne" class="collapsed">
                                  <i class="fa fa-2x fa-plus-circle"></i> TREC Registration Now Open!
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>
                                    <b>Texas A&M Regional Engineering Conference (TREC)</b>
                                    <br />The purpose of this conference is to increase student interest and retention in engineering disciplines, foster communication between students at different schools, and provide an insight into common projects encountered in the industry.

                                    <br /><br /><b>When:</b> March 3-4, 2017
                                    <br /><b>Where:</b> Texas A&M University
                                    <br /><b>What:</b> This is a two-day event with a design competition and a great opportunity for networking with other students and Phillips 66. Everyone will receive a <b>free t-shirt</b>, <b>free food</b> for both days and a chance to win <b>stellar prizes</b>!
                                    <br /><br />Register <a href="http://trec.tamu.edu/Login.aspx" target="_blank">here</a>!
								</p>
                                <p><b>Event Sponsor</b></p>
                                <img src="\images\Phillip66.png" alt="Phillips 66" width="20%" />
                              </div>
                            </div>
                          </div>
                            
                          

                          

                          

                          

                                                    

                          
                          
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    <!-- News Feed End -->

   <!-- SCHEDULE -->
    <!--<div id="news" class="anchor"></div>-->
       

    <!--end news-->

    <!-- =============================
                    About Section
    ================================== -->
	<div id="aboutUs" class="anchor"></div>
    <section id="about" class="blete-section-wrapper">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header">
                    <h2>ABOUT <span class="blete-highlight-text">SEC</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Student Engineers' Council (SEC) is the representative body for all students in the College of Engineering at Texas A&M University. Formed by the Dean of Engineering in 1939, the SEC represents the concerns of engineering students and professional societies to the college administration and to the university as a whole.</p>
                </div>
                <!-- Section Header End -->

                <!-- What We Do -->
                <div class="blete-what-we-do">

                    <div class="col-md-4 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInLeft">
                        <div class="blete-icon">
                            <i class="fa fa-institution"></i>
                        </div>
                        <h3>Development</h3>
                        <p>The Development division targets the professional advancement aspect of the SEC mission statement. The Development committees include Career Fair, ProTrip, Corporate Relations, Engineering Development, and Finance.</p>
                    </div>

                    <div class="col-md-4 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInUp" >
                        <div class="blete-icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <h3>External</h3>
                        <p>The External division seeks to increase engineering awareness. The External committees include E-Week, Spark Conference, Philanthropy, and TREC.</p>
                    </div>

                    <div class="col-md-4 col-sm-3 col-xs-12 blete-blurb-round-icon wow bounceInRight" >
                        <div class="blete-icon">
                            <i class="fa fa-gears"></i>
                        </div>
                        <h3>Internal</h3>
                        <p>The Internal division targets the representative voice aspect of the mission statement. The Internal committees include Legislation, Society and Graduate Relations, Marketing, Membership, and Systems Administration.</p>
                    </div>                    

                </div>
                <!-- What We Do End -->

            </div>
        </div>
    </section>
    <!-- About Section End -->


    <!-- =============================
                    Committees Section
    ================================== -->
	<div id="committees" class="anchor"></div>
    <section id="features" class="blete-section-wrapper blete-features-section" data-stellar-background-ratio="0.5">
        <div class="blete-parallax-overlay"></div>
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header blete-section-header-parallax">
                    <h2>OUR <span class="blete-highlight-text">COMMITTEES</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Council has several committees that target the several aspects of SEC's mission statement. These committees host events, support the Council, and represent all engineering students within the College of Engineering.</p>
                </div>
                <!-- Section Header End -->

                <!-- Features -->
                <div class="blete-features">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        
                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Career Fair is SEC's largest and most visible event of the year. The goal of the Texas A&M Engineering Career Fair is to provide students with the opportunity to visit with recruiters from hundreds of companies seeking engineers for internships, co-ops, and full-time positions. The committee organizes and plans the career fair in both the Spring and Fall semesters.">
                                <i class="fa fa-building-o"></i>
                            </div>
                            <div class="blete-blurb-text">
                                <h3>Career Fair</h3>
                            </div>
                        </div>

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Corporate Relations chair is responsible for maintaining professional ties with corporations and the Council's corporate sponsors. The chair invites representatives from companies to speak at SEC General Council meetings and is responsible for providing companies with sponsorship information.">
                                <i class="fa fa-send-o"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Corporate Relations</h3>
                            </div>
                        </div>

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The ENGR 111/112 Industry Night Presentations serve to increase students' exposure to the wide variety of opportunities available within the College of Engineering and within the field of engineering after they graduate.">
                                <i class="fa fa-street-view"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Engineering Development</h3>
                            </div>
                        </div>
						
						<div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Finance chair maintains all of SEC's finances. The committee collects member dues, processes Council expenditures and income, maintains the budgets for all committees within the organization, and communicates with the Student Organization Finance Center (SOFC).">
                                <i class="fa fa-line-chart"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Finance</h3>
                            </div>
                        </div>
						
						<div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="ProTrip is an annual professional networking trip to expose SEC members to engineering opportunities outside of the state of Texas. The trip provides students with the opportunity to experience different engineering industries, professional workplaces, and the culture of a major U.S. city.">
                                <i class="fa fa-road"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>ProTrip</h3>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The National Engineers Week (E-Week) committee is responsible for spreading engineering to all other students on campus. The committee runs an entire week of events, usually in February, where the main goals are increasing engineering awareness and breaking the common engineering stereotypes. This is a very dynamic committee that can easily incorporate new ideas every year.">
                                <i class="fa fa-calendar"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>E-Week</h3>
                            </div>
                        </div>

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Spark Conference committee hosts an annual k-12 conference for students who are interested in pursuing an engineering degree. The conference includes tours and information relating to all disciplines of engineering that are offered at Texas A&M. The event is typically held over one day in the Fall semester.">
                                <i class="fa fa-trophy"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Spark Conference</h3>
                            </div>
                        </div>

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Philanthropy committee organizes and leads SEC in community service events of all kinds, as well as hosting Engineering Day (E-Day) for young students. Some typical philanthropy projects that are routinely performed are canned food drives, Angle Tree, Big Event, Replant, and Race for the Cure, just to name a few.">
                                <i class="fa fa-child"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Philanthropy</h3>
                            </div>
                        </div>
						
						<div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Texas A&M Regional Engineering Conference (TREC) committee hosts a design competition for students at Texas A&M and surrounding universities in the Central Region of the United States. The competition is usually hosted over two days in the Spring and is well known for its amazing prizes. Members develop the concept, build the track/area for competition, plan social events, and run the two day event in its entirety.">
                                <i class="fa fa-group"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>TREC</h3>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Legislation committee is responsible for drafting a survey administered once a year to all engineering students asking them questions about their experiences within and concerns about the College. The committee analyzes the results and presents recommendations to the engineering deans and department heads at the Faculty Dinner, which is held after each survey.">
                                <i class="fa fa-gavel"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Legislation</h3>
                            </div>
                        </div>

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Society and Graduate Relations committee is responsible for maintaining relations with the several engineering societies across the campus. The committee hosts several events that bring members of the Council together with members of the various societies.">
                                <i class="fa fa-comments"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Society and Graduate Relations</h3>
                            </div>
                        </div>

                        <div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Marketing Committee is responsible for effectively and creatively promoting events hosted by the SEC and the College of Engineering. The committee members work closely with other SEC committees to develop and implement marketing materials and strategies needed to increase awareness of engineering events.">
                                <i class="fa fa-camera-retro"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Marketing</h3>
                            </div>
                        </div>
						
						<div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Membership committee serves the Council's members by hosting social events, assigning members to committees, tracking member points, and facilitating the member selection process.">
                                <i class="fa fa-user-plus"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Membership</h3>
                            </div>
                        </div>
						
						<div class="blete-blurb-icon-left-round">
                            <div class="blete-icon" data-toggle="tooltip" data-placement="right" title="The Systems Administration Committee contributes to SEC by applying the latest technologies to ease the lives of council members and better disseminate information.  The committee is responsible for adding features and content to the website, keeping the office servers and workstations running and up to date, and finding innovative ways to use the latest technology to help SEC fulfill its mission statement.">
                                <i class="fa fa-database"></i>
                            </div>

                            <div class="blete-blurb-text">
                                <h3>Systems Administration</h3>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Features End -->

            </div>
        </div>
    </section>
    <!-- Featuers Section End -->


    <!-- =============================
                    Sponsors Section
    ================================== -->
	<div id="sponsors" class="anchor"></div>
    <section id="team" class="blete-section-wrapper blete-team-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>OUR <span class="blete-highlight-text">SPONSORS</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Student Engineers' Council is proud to extend the opportunity for all companies to become sponsors of our organization. Sponsors truly drive the success of our services and events, and in return, we will go out of our way to ensure our sponsors' visibility to engineering students.</p>
                </div>
                <!-- Section Header End -->

                <!-- Team Slider -->
                <div id="team-slider" class="owl-carousel blete-team-carousal col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="2s">

                    
                    
                    
                <% @sponsors.each do |sponsor| %>
                    <!-- Slides -->
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
				           <img src=<%= sponsor.image.url(:small) %> >
                        </div>

                        <div class="blete-member-details">
                            <h3><%= sponsor.name %></h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p><%= sponsor.description %></p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://www.kochind.com/"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                <% end %>
                    <!-- Slides End -->
                   
                    <!-- Slides 
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
				            <a href="https://sec.wisdomgroup.com/students/companies#!&detail_company_id=152"><img src="/images/sponsors/Valero.jpg" alt="Valero Energy" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>Valero Energy Corporation</h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p>Valero Energy Corporation, through its subsidiaries, is an international manufacturer and marketer of transportation fuels, petrochemical products and power. Through subsidiaries, Valero owns the general partner of Valero Energy Partners LP, a midstream master limited partnership. Valero is a Fortune 500 company based in San Antonio.</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="https://www.valero.com/en-us"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides 
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
				            <a href="https://sec.wisdomgroup.com/students/companies#!&detail_company_id=78"><img src="/images/sponsors/BP-logo.jpg" alt="BP" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>BP</h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p>BP's businesses are organized to deliver the energy products and services people around the world need right now. Their Upstream segment is responsible for their activities in oil and natural gas exploration, field development and production. Their Downstream segment is the product and service-led arm of BP, focused on fuels, lubricants and petrochemicals.</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://www.bp.com/"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides 
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
				            <a href="https://sec.wisdomgroup.com/students/companies#!&detail_company_id=150"><img src="/images/sponsors/Schlumberger.jpg" alt="Schlumberger" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>Schlumberger</h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p>Schlumberger is the world's leading provider of technology for reservoir characterization, drilling, production, and processing to the oil and gas industry. Schlumberger supplies the industry's most comprehensive range of products and services, from exploration through production and integrated pore-to-pipeline solutions for hydrocarbon recovery that optimize reservoir performance.</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://www.slb.com/"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides 
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
				            <a href="https://sec.wisdomgroup.com/students/companies#!&detail_company_id=244"><img src="/images/sponsors/Phillips66.jpg" alt="Phillips 66" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>Phllips 66</h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p>Phillips 66 is a diversified energy manufacturing and logistics company. With a portfolio of Midstream, Chemicals, Refining, and Marketing and Specialties businesses, the company processes, transports, stores and markets fuels and products globally. It is headquartered in Houston, the company has 14,000 employees committed to safety and operating excellence. </p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://www.phillips66.com/EN/Pages/index.aspx"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides 
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
				            <a href="https://sec.wisdomgroup.com/students/companies#!&detail_company_id=189"><img src="/images/sponsors/cpy.jpeg" alt="CP&Y" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>CP&Y </h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p> CP&Y are an innovative and progressive full-service architectural and engineering consulting firm. With a staff of professionals in Texas, Oklahoma, Colorado, Virginia, and Arkansas; we receive industry recognition by providing a full-range of services that always consider cost-effective solutions without sacrificing quality. </p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://www.cpyi.com/"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->

                    <!-- Slides 
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">

                        <div class="blete-member-img-wrapper">
                            <a href="https://sec.wisdomgroup.com/students/companies#!&detail_company_id=398"><img src="/images/sponsors/spectra_energy.jpg" alt="Spectra" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>Spectra Energy </h3>
                            <span class="blete-member-desg">Platinum Sponsor</span>
                            <p> Spectra Energy is one of the largest pipeline master limited partnerships in the United States. Spectra Energy also has a 50 percent ownership in DCP Midstream, the largest producer of natural gas liquids and the largest natural gas processor in the United States.  </p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://www.spectraenergy.com/"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Slides End -->


                    <!-- Slides -->
                    <!--
                    <div class="blete-team-slides col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="blete-member-img-wrapper">
                            <a href="/common/cf/company-details.aspx?CoGUID={89dc5866-d181-4555-a914-821747d4d3c8}"><img src="/images/sponsors/Sulzer.jpg" alt="Sulzer" /></a>
                        </div>

                        <div class="blete-member-details">
                            <h3>Sulzer</h3>
                            <span class="blete-member-desg">Gold Sponsor</span>
                            <p>Sulzer Ltd. is a Swiss industrial engineering and manufacturing firm, founded by Salomon Sulzer-Bernet in 1775 and established as Sulzer Brothers Ltd. (Gebruder Sulzer) in 1834 in Winterthur, Switzerland. Today it is a publicly traded company with international subsidiaries. The company's shares are listed on the Swiss Stock Exchange.</p>
                            <ul class="blete-team-social-icon">
                                <li class="social-desktop">
                                    <a href="http://Sulzer.com"><i class="fa fa-desktop"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    -->
                    <!-- Slides End -->
                 

                </div>
                <!-- Team Slider End -->
            </div>
        </div>
    </section>
    <!-- Team Section End -->


    <!-- =============================
                    Skill Section
    ================================== -->
    <!-- <section id="skill" class="blete-our-skills blete-section-wrapper">
        <div class="container">
            <div class="row">

                Section Header
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>OUR <span class="blete-highlight-text">STATS</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, magnam, voluptatem. Eveniet placeat ad, eligendi, sit corporis quo nostrum, soluta tenetur ducimus quis nesciunt repellat explicabo alias est praesentium sapiente.</p>
                </div>
                Section Header End

                Skills
                <div class="blete-skills-wrapper">

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-ps" data-percent="100">
                            <span class="percent" style="opacity: 0;"></span>
                            <h4 style="margin-top: -30px;">Represent 1% of College</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, nisi hic sapientem.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-php" data-percent="100">
                            <span class="percent" style="opacity: 0;"></span>
                            <h4 style="margin-top: -30px;">Over 10,000 attended Fall Career Fair</h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-js" data-percent="100">
                            <span class="percent"></span>
                            <h3>Javascript</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 blete-skill-item">
                        <div class="chart chart-wp" data-percent="100">
                            <span class="percent"></span>
                            <h3>PHP</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum assumenda.</p>
                    </div>

                </div>
                Skills End
            </div>
        </div>
    </section> -->
    <!-- Skill seciton End -->


    <!-- =============================
                Events Section
    ================================== -->
	<div id="events" class="anchor"></div>
    <section id="featured-works" class="blete-section-wrapper blete-section-work">
        <!-- Container -->
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>OUR <span class="blete-highlight-text">EVENTS</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Student Engineers' Council hosts over 200 events each year. Our events are intended to help raise Engineering awareness and to benefit the Dwight Look College of Engineering.</p>
                </div>
                <!-- Section Header End -->

            </div>
        </div>
        <!-- Container End -->

        <!-- Events Slider -->
        <div class="container-fluid">
            <div class="row-fluid">

                <div class="blete-portfolio-work-slider-section wow fadeIn" data-wow-duration="2s">
                    <div id="featured-work-slider" class="owl-carousel blete-portfolio-works-slider">

                        <!-- Work 1 -->
                        <!--<div class="blete-portfolio-work-item">   Commented this out on every one to add links.-->
                        <div class ="event-images">
                            <a href="http://eweek.tamu.edu" style="color: #998031;"><h3>E-Week</h3></a>
                            <a href="http://eweek.tamu.edu"><img src="images/event_slider/eweek.jpg" alt="eweek"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/eweek.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 1 End -->

                        <!-- Work 2 -->
                        <div class ="event-images">
                            <a href="http://eday.tamu.edu"><h3>E-Day</h3></a>
                            <a href="http://eday.tamu.edu"><img src="images/event_slider/eday.jpg" alt="eday"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/eday.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 2 End -->

                        <!-- Work 3 -->
                        <div class ="event-images">
                            <a href="https://sec.wisdomgroup.com/career-fair/companies/fair-information/welcome"><h3>Career Fair</h3></a>
                            <a href="https://sec.wisdomgroup.com/career-fair/companies/fair-information/welcome"><img src="images/event_slider/career_fair.jpg" alt="career fair"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/carrer_fair.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 3 End -->

                        <!-- Work 4 -->
                        <div class ="event-images">
                           <a href="http://spark.tamu.edu"><h3>Spark</h3></a>
                            <a href="http://spark.tamu.edu"><img src="images/event_slider/spark.jpg" alt="spark"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/spark.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 4 End -->

                        <!-- Work 5 -->
                        <div class ="event-images">
                            <a href="http://engrseminars.tamu.edu"><h3>Industry Nights</h3></a>
                            <img src="images/event_slider/engdev.jpg" alt="engdev">
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/engdev.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 5 End -->

                        <!-- Work 6 -->
                        <div class ="event-images">
                            <a href="http://trec.tamu.edu"><h3>TREC</h3></a>
                            <a href="http://trec.tamu.edu"><img src="images/event_slider/trec.jpg" alt="trec"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/trec.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 6 End -->

                        <!-- Work 7 -->
                        <div class ="event-images">
                            <a href="spark.tamu.edu"><h3>Society Soccer Tournament</h3></a>
                             <a href="https://spark.tamu.edu"><img src="images/event_slider/soccer.jpg" alt="soccer"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/soccer.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 7 End -->
                        
                         <!-- Work 8 -->
                        <div class ="event-images">
                            <a href="http://trec.tamu.edu"><h3>Presidents' Round Tables</h3></a>
                             <a href="https://spark.tamu.edu"><img src="images/event_slider/soccer.jpg" alt="soccer"></a>
                            <div class="blete-port-work-details">
                                <ul class="blete-work-meta">
                                    <!--<li class="blete-lighbox"><a href="images/event_slider/soccer.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>-->
                                </ul>
                            </div>

                        </div>
                        <!-- Work 7 End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Events Slider -->

    </section>
    <!-- Events End -->





    <!-- =============================
                Custom Section
    ================================== -->
    <!-- <section class="blete-custom-sec blete-section-wrapper blete-description">
        <div class="container">
            <div class="row">
                Section Header
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>ADDITIONAL <span class="blete-highlight-text">FEATURES</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum magnam, atque adipisci dignissimos voluptas libero ipsa nulla perferendis ipsam maxime tenetur eaque, odio labore voluptatum sapiente minus provident voluptate corporis!</p>
                </div>
                Section Header End

                <div class="col-md-6 col-sm-6 col-xs-12 blete-custom-sec-img wow bounceInLeft">
                    <img src="images/features.png" alt="Custom Image">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 blete-custom-sec-text wow bounceInRight">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sit, numquam amet voluptatibus obcaecati ea maiores totam nostrum, ad iure rerum quas harum ipsum. Rem ea ducimus quos quae quo.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi cumque porro sapiente temporibus, recusandae mollitia, reiciendis tenetur quo natus ab ex quisquam reprehenderit, veniam eius doloremque minus possimus minima.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus at natus praesentium, ea sequi qui facilis odio accusantium ad sit, porro, laborum corporis perspiciatis a earum vel ipsa delectus voluptatem.</p>
                    <ul>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Custom Section End -->


    <!-- =============================
            Executive Board Section
    ================================== -->
	<div id="executiveCouncil" class="anchor"></div>
    <section id="testimonials" class="blete-testimonial-section">
		<!-- Section Header -->
		<div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
			<h2>EXECUTIVE <span class="blete-highlight-text">BOARD</span></h2>
			<div class="blete-section-divider"></div>
            <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Executive Board is composed of the President and Vice Presidents who head each division as well as the Executive Secretary. Each Vice President leads a group of engineers to perform their division's role with the goal of improving and developing the College of Engineering.</p>
		</div>
		<!-- Section Header End -->

        <div class="blete-parallax-overlay"></div>

        <div class="blete-testimonial-wrapper wow bounceIn">
            <div class="container">
                <div class="row">

                    <!-- Testimonial Slider -->
                    <div id="blete-testimonial" class="owl-carousel blete-testimonial">

                        <!-- Slides -->
                        <div class="blete-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">

                            <img src="images/eb/Haylee_Young.png" alt="">
                            <p>President</p>
                            <p class="blete-client-info">Haylee Young '16<br>Mechanical Engineering</p>

                        </div>
                        <!-- Slides End -->
                        
                        <!-- Slides -->
                        <div class="blete-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/eb/Gaal2.jpg" alt="">
                            <p>Executive Secretary</p>
                            <p class="blete-client-info">Matthew Gaal '17<br>Civil Engineering</p>
                        </div>
                        <!-- Slides End -->

                        <!-- Slides -->
                        <div class="blete-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/eb/Matthew_Giglio.jpg" alt="">
                            <p>Vice President of Internal Division</p>
                            <p class="blete-client-info">Matthew Giglio '15<br>Civil Engineering</p>
                        </div>
                        <!-- Slides End -->

                        <!-- Slides -->
                        <div class="blete-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/eb/Claire_Fiorenzi.jpg" alt="">
                            <p>Vice President of Development Division</p>
                            <p class="blete-client-info">Claire Fiorenzi '18<br>Petroleum Engineering</p>
                        </div>
                        <!-- Slides End -->
                        
                        <!-- Slides -->
                        <div class="blete-testimonial-slides col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                            <img src="images/eb/lauren1.jpg" alt="">
                            <p>Vice President of External Divison</p>
                            <p class="blete-client-info">Lauren Saucier '17<br>Mechanical Engineering</p>
                        </div>
                        <!-- Slides End -->

                    </div>
                    <!-- Testimonial Slider End -->

                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial End -->

    <!-- =============================
                Executive Council Section
    ================================== -->
    <section id="portfolio" class="blete-portfolio-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2>MEET OUR <span class="blete-highlight-text">EXECUTIVE COUNCIL</span></h2>
                    <div class="blete-section-divider"></div>
                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">The Executive Council is composed of the chairs who head each committee. Each Executive Council member leads a group of engineers to perform their committee's role with the goal of improving and developing the College of Engineering.</p>
                </div>
                <!-- Section Header End -->

            </div>
        </div>

        <!-- Works -->
        <div class="blete-portfolio-works wow fadeIn" data-wow-duration="5s">

            <!-- Filter Button Start -->
            <div id="blete-portfolio-filter" class="blete-portfolio-filter-btn-group">
                <ul>
                    <li>
                        <a href="#" class="selected" data-filter="*">ALL</a><!-- 
                         --><a href="#" data-filter=".development">DEVELOPMENT</a><!-- 
                         --><a href="#" data-filter=".external">EXTERNAL</a><!-- 
                         --><a href="#" data-filter=".internal">INTERNAL</a>
                    </li>
                </ul>
            </div>
            <!-- Filter Button End -->

            <div class="blete-portfolio-items">

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide1.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide2.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide3.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide4.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide5.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide6.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide7.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide8.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Items -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                   <img src="images/img-portfolio/slide9.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide10.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide11.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide12.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide13.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide14.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item internal">

                    <img src="images/img-portfolio/slide15.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide16.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide17.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide18.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide19.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide20.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide21.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide22.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide23.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide24.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide25.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide26.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide27.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide28.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide29.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide30.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide31.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide32.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item development">

                    <img src="images/img-portfolio/slide33.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide34.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide35.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide36.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide37.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide38.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide39.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide40.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide41.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide42.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide43.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide44.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide45.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide46.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->

                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item external">

                    <img src="images/img-portfolio/slide47.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide48.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                                <!-- Portfolio Items -->
                <div class="item blete-portfolio-item web-design">

                    <img src="images/img-portfolio/slide49.jpg">
                    <div class="blete-portfolio-details-wrapper">
                        <div class="blete-portfolio-details">
                            <div class="blete-portfolio-meta-btn">
                                <ul>
                                    <li class="blete-lighbox"><a href="images/img-portfolio/slide49.jpg" class="blete-featured-work-img"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Portfolio Items End -->
                

            </div>
        </div>
        <!-- Works End -->


    </section>
    <!-- Portfolio Section End -->
    
    <!-- =============================
            Login Section
    ================================== -->
	<div id="login" class="anchor"></div>
    <section id="pricing" class="blete-pricing-section blete-section-work">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown">
                    <h2><span class="blete-highlight-text">LOGIN</span></h2>
                    <div class="blete-section-divider"></div>
                </div>
                <!-- Section Header End -->

                <div class="blete-pricing-wrapper">

                    <!-- Member Login -->
                    <div class="col-md-4 col-sm-3 col-xs-12 blete-pricing-plans blete-recommended-pricing wow fadeInUp" data-wow-duration=".2s" style="padding: 30px 15px">
                        <div class="blete-pricing-titles">
                            <h2>Members</h2>
                            <p>Sign in to manage your membership account</p>
                        </div>
                        <div class="blete-pricing-service-name">
                        </div>
                        <a href="http://sec.tamu.edu/members/Default.asp" class="blete-signup-btn">SIGN IN</a><br><br>
                        <a href="http://sec.tamu.edu/common/kb/view.asp?cguid={2478D435-746D-4BD5-BA8D-414B6B88FCFD}&alias=Involve" target="_blank" class="blete-signup-btn" style="color: #000; background-color: transparent">Interested in joining SEC?</a>
                    </div>
                    
                    
                    <!-- Member Login End -->

                 <!-- Student Login -->
                    <div class="col-md-4 col-sm-3 col-xs-12 blete-pricing-plans blete-recommended-pricing wow fadeInUp" data-wow-duration=".2s" style="padding: 30px 15px 81px">
                        <div class="blete-pricing-titles">
                            <h2>Students</h2>
                            <p>Sign in to manage your career fair account</p>
                        </div>
                        <div class="blete-pricing-service-name">
                        </div>
                        <a href="https://sec.wisdomgroup.com/career-fair/students/fair-information/general-information" target="_blank" class="blete-signup-btn">SIGN IN</a><br><br>
                    </div>
                    
                    
                    <!-- Student Login End -->

                    <!-- Corporate Login -->
                    <div class="col-md-4 col-sm-3 col-xs-12 blete-pricing-plans blete-recommended-pricing wow fadeInUp" data-wow-duration=".2s" style="padding: 30px 15px">
                        <div class="blete-pricing-titles">
                            <h2>Companies</h2>
                            <p> Sign in to manage your career fair registration</p>
                        </div>
                        <div class="blete-pricing-service-name">
                            
                        </div>

                        <a href="https://sec.wisdomgroup.com/companies/recruiters/sign_in" target="_blank" class="blete-signup-btn">SIGN IN</a><br><br>
                         <a href="https://sec.wisdomgroup.com/career-fair/companies/fair-information/sponsorship-opportunities" target="_blank" class="blete-signup-btn"  style="color: #000; background-color: transparent">Interested in getting involved with SEC?</a>
                    </div>
                    <!-- Corporate Login End -->

                   
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->


    <!-- =============================
                Contact Section
    ================================== -->
	<div id="contactUs" class="anchor"></div>
    <section id="contact" class="blete-section-wrapper blete-contact-section" data-stellar-background-ratio="0.5">
    <div class="blete-parallax-overlay"></div>
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown blete-section-header-parallax">
                    <h2>CONTACT <span class="blete-highlight-text">US</span></h2>
                    <div class="blete-section-divider"></div>
                </div>
                <!-- Section Header End -->

                <div class="blete-contact-details">

                    <!-- Address Area -->
                    <div class="col-md-5 col-sm-4 col-xs-12 blete-contact-address wow bounceInLeft">
                        <h1>Student<br> Engineers'<br> Council</h1>
                        <ul>
                            <li class="blete-office-address"><i class="fa fa-home"></i>3127 Texas A&M University (TAMU)<br>College Station, TX 77843-3127</li>
                            <li class="blete-phone"><i class="fa fa-phone"></i>979.847.8567</li>
                            <li class="blete-web"><i class="fa  fa-globe"></i><a href="http://sec.tamu.edu">http://sec.tamu.edu</a></li>
                        </ul>
                    </div>

                    <!-- Address Area End -->

                    <!-- Contact Form -->
                    <div class="col-md-7 col-sm-8 col-xs-12 blete-contact-form wow bounceInRight">
                        <div id="contact-result"></div>
                        <div id="contact_form">
                            <form id="feedbackForm" action="sendmail-guest.asp" method="post" onsubmit="return validate(new Array('fN','fE','fC', 'email-to'));">
                                <div class="blete-input-name blete-input-fields">
                                    <fieldset>
                                        <input type="text" name="fName" id="fN" placeholder="Name">
                                    </fieldset>
                                </div>

                                <div class="blete-input-email blete-input-fields">
                                    <fieldset>
                                        <input type="text" name="fEmail" id="fE" placeholder="Your Email">
                                    </fieldset>
                                </div>
                                
                                <div class="blete-input-fields">
                                    <fieldset>
                                        <input type="text" name="fSubject" id="fC" placeholder="Subject">
                                    </fieldset>
                                </div>

                                <div class="blete-input-fields">
                                    <fieldset>
                                        <select name="emailto" id="email-to">
                                            <option selected>To:</option>
                                            <option></option>
                                            <option value="president@sec.tamu.edu">President</option>
                                            <option value="vpdevelopment@sec.tamu.edu">Vice President Development</option>
                                            <option value="vpexternal@sec.tamu.edu">Vice President External</option>
                                            <option value="vpinternal@sec.tamu.edu">Vice President Internal</option>
                                            <option value="execsecretary@sec.tamu.edu">Executive Secretary</option>
                                            <option value="careerfair@sec.tamu.edu">Career Fair</option>
                                            <option value="corporate@sec.tamu.edu">Corporate Relations</option>
                                            <option value="engrdevelopment@sec.tamu.edu">Engineering Development</option>
                                            <option value="finance@sec.tamu.edu">Finance</option>
                                            <option value="protrip@sec.tamu.edu">ProTrip</option>
                                            <option value="eweek@sec.tamu.edu">E-Week</option>
                                            <option value="spark@sec.tamu.edu">Spark Conference</option>
                                            <option value="philanthropy@sec.tamu.edu">Philanthropy</option>
                                            <option value="trec@sec.tamu.edu">TREC</option>
                                            <option value="legislation@sec.tamu.edu">Legislation</option>
                                            <option value="society@sec.tamu.edu">Society and Graduate Relations</option>
                                            <option value="marketing@sec.tamu.edu">Marketing</option>
                                            <option value="membership@sec.tamu.edu">Membership</option>
                                            <option value="sysadmin@sec.tamu.edu">Systems Administration</option>
                                        </select>
                                    </fieldset>
                                </div>

                                <div class="blete-input-message blete-input-fields">
                                    <fieldset>
                                        <textarea name="fComment" id="fC" cols="15" rows="6" placeholder="Message"></textarea>
                                    </fieldset>
                                </div>
                                <fieldset>
                                    <input type="submit" action="submit" class="submit" value="Send Mail" id="submit-btn">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!-- Contact Form End -->

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section End -->

   <!-- =============================
                Calendar Section
    ================================= -->

    <div id="calendar" class="anchor"></div>
    <section id="calendar-section" class="blete-section-wrapper blete-section-work" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 blete-section-header wow fadeInDown blete-section-header-parallax">
                    <h2><span class="blete-highlight-text">Calendar</span></h2>
                    <div class="blete-section-divider"></div>
                </div>
                <!-- Section Header End -->

    <center><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=tamusec%40gmail.com&amp;color=%23691426&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></center>

            </div>
        </div>
    </section>

    <!-- Calendar Section End -->

   <!-- =============================
                Footer Section
    ================================= -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>About</h3>
                    <ul>
                        <li><span>The Student Engineers' Council (SEC) is the representative body for all students in the College of Engineering at Texas A&M University. Formed by the Dean of Engineering in 1939, the SEC represents the concerns of engineering students and professional societies to the college administration and to the university as a whole.</span></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Related Pages</h3>
                    <ul>
                        <li><a href="http://sec.tamu.edu/common/kb/view.asp?cguid={2478D435-746D-4BD5-BA8D-414B6B88FCFD}&alias=What">What is SEC?</a></li>
                        <li><a href="http://sec.tamu.edu/common/kb/view.asp?cguid={2478D435-746D-4BD5-BA8D-414B6B88FCFD}&alias=Committees">What Does SEC Do?</a></li>
                        <li><a href="http://sec.tamu.edu/common/kb/view.asp?cguid={2478D435-746D-4BD5-BA8D-414B6B88FCFD}&alias=Involve">How Can I Get Involved?</a></li>
                        <li><a href="http://sec.tamu.edu/contact.asp">Officers</a></li>
                        <li><a href="http://sec.tamu.edu/resources/organizeddocs/default.asp">Organized Documents</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Events</h3>
                    <ul>
						<li><a href="http://sec.wisdomgroup.com">Career Fair</a></li>
                        <li><a href="http://spark.tamu.edu">Spark Conference</a></li>
                        <li><a href="http://eweek.tamu.edu">E-Week</a></li>
                        <li><a href="http://eday.tamu.edu">E-Day</a></li>
						<li><a href="http://engrseminars.tamu.edu/">Engineering Development</a></li>						
                        <li><a href="http://trec.tamu.edu">TREC</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Stay Connected</h3>
                    <ul>
                        <li style="display: inline; width: 10px; height: 10px;"><a href="https://www.facebook.com/TAMU.SEC" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li style="display: inline;"><a href="https://twitter.com/TAMUsec" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li style="display: inline;"><a href="https://www.instagram.com/tamusec/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li style="display: inline;"><a href="https://www.linkedin.com/company/texas-a&m-student-engineers'-council" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer End -->
    <div class="thn">
         <div class="container thn">
            <div class="row">
                <div class="blete-footer-content">

                    <h6 class="blete-copyright-info">&copy; 2017 Student Engineers' Council. All Rights Reserved.</h6>

                </div>
            </div>
        </div>
    </div>


    <!-- =============================
                SCRIPTS
    ================================== -->
    <script>
        document.getElementById('contact').form.action = 'mailto:' + document.getElementById('email-to').value;
    </script>
    <%= javascript_include_tag "jquery-1.11.3.min.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "modernizr.min.js" %> 
    <%= javascript_include_tag "jquery.easing.1.3.js" %>
    <%= javascript_include_tag "jquery.scrollUp.min.js" %> 
    <%= javascript_include_tag "jquery.easypiechart.js" %>  
    <%= javascript_include_tag "jquery.countTo.js" %> 
    <%= javascript_include_tag "isotope.pkgd.min.js" %> 
    <%= javascript_include_tag "jflickrfeed.min.js" %> 
    <%= javascript_include_tag "jquery.fitvids.js" %> 
    <%= javascript_include_tag "jquery.stellar.min.js" %> 
    <%= javascript_include_tag "jquery.waypoints.min.js" %> 
    <%= javascript_include_tag "wow.min.js" %> 
    <%= javascript_include_tag "jquery.nav.js" %> 
    <%= javascript_include_tag "imagesloaded.pkgd.min.js" %> 
    <%= javascript_include_tag "smooth-scroll.min.js" %> 
    <%= javascript_include_tag "jquery.magnific-popup.min.js" %> 
    <%= javascript_include_tag "jquery.sliderPro.min.js" %> 
    <%= javascript_include_tag "owl.carousel.min.js" %> 
    <%= javascript_include_tag "custom.js" %> 

    <%= javascript_include_tag "jquery.countdown.js" %>
    <%= javascript_include_tag "main.js" %>

    <!--delete this later 
    <script>
        $.get('api/Live', function (data) {
            alert(data[0][0]);
        });
    </script>-->
</body>
</html>
