<div>
    <%= flash[:notice] %>
    <h2>Admin Menu</h2>
    <table class="tableCenter">
        <tr>
            <td>
                <%= link_to("Manage Committees", committees_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Divisions", divisions_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Events", events_path) %>    
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Positions", positions_path) %>  
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Sponsors", sponsors_path) %>  
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Manage Members", members_path) %>   
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Parameters", parameters_path) %>   
            </td>
        </tr>
        <tr>
            <td>
                <%= link_to("Logout", access_logout_path) %>   
            </td>
        </tr>
    </table>

</div>