
<div>
    <h2>Delete Event</h2>
    
    <%= form_for(@event, :method => "delete") do |f| %>
        <p class="divCenter">Are you sure you want to permanently delete this event?</p>
        <table class="tableCenter">
            <tr>
                <td class="columnLabel boldText">Name:</td>
                <td><%= @event.name %></td>
            </tr>
            <tr>
                <td class="columnLabel boldText">Link to Event:</td>
                <td><%= @event.link_to_event %></td>
            </tr>
        </table>
        <div class="divCenter">
            <%= f.submit("Delete event", :class=> "btn btn-danger btn-sm") %>
            <%= link_to("Back to List", events_path, :class => "btn btn-warning btn-sm") %>
        </div>
    <% end %>
</div>
