
<div>
    <h2>Update Event</h2>
    <%= form_for(@event) do |f| %>
        <%= error_messages_for(f.object) %>
        <table class="tableCenter">
            <tr>
                <td class="columnLabel">Name</td>
                <td><%= f.text_field(:name, size: 40) %></td>
            </tr>
            <tr>
                <td class="columnLabel">Link</td>
                <td><%= f.text_field(:link_to_event, size: 40) %></td>
            </tr>
        </table>
        
        <div class="divCenter">
            <%= f.submit("Update Event", :class => "btn btn-success btn-sm") %>
            <%= link_to("Back to List", events_path, :class => "btn btn-warning btn-sm") %>
        </div>
    <% end %>
</div>
