<div>
    <h2>Events</h2>
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Link</th>
            <th></th>
        </tr>
        <% @events.each do |event| %>
        <tr>
            <td><%= event.id %></td>
            <td><%= event.name %></td>
            <td><%= event.link_to_event %></td>
            <td>
                <%= link_to("Show", event_path(event.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Edit", edit_event_path(event.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Delete", delete_event_path(event.id), :class => "btn btn-danger btn-xs") %>
            </td>
        </tr>
        <% end %>
    </table>
    <%= link_to("Add new event", new_event_path, :class => "btn btn-success btn-sm") %>
    <%= link_to("Back to menu", access_menu_path, :class => "btn btn-sm btn-warning")%>
</div>