
<div>
    <h2>Create Sponsor</h2>
    <%= form_for @sponsor, html: {multipart: true } do |f| %>
        <%= error_messages_for(f.object) %>
        <table class="tableCenter">
            <tr>
                <td class="columnLabel">Name</td>
                <td><%= f.text_field(:name, size: 40) %></td>
            </tr>
            <tr>
                <td class="columnLabel">Description</td>
                <td><%= f.text_area(:description, cols: 43, rows: 10) %></td>
            </tr>
            <tr>
                <td class="columnLabel">Type</td>
                <td><%= f.text_field(:spn_type, size: 40) %></td>
            </tr>
            <tr>
                <td class="columnLabel">Link to SEC</td>
                <td><%= f.text_field(:link_to_sec, size: 40) %></td>
            </tr>
            <tr>
                <td class="columnLabel">Link to Sponsor</td>
                <td><%= f.text_field(:link_to_sponsor, size: 40) %></td>
            </tr>
             <tr>
                <td class="columnLabel">Logo</td>
                <td><%= f.file_field :image %></td>
            </tr>
        </table>
        
        <div class="divCenter">
            <%= f.submit("Create Sponsor", :class => "btn btn-success btn-sm") %>
            <%= link_to("Back to List", sponsors_path, :class => "btn btn-warning btn-sm") %>
        </div>
    <% end %>
</div>
