
<div>
    <h2>Delete Committee</h2>
    
    <%= form_for(@committee, :method => "delete") do |f| %>
        <p class="divCenter">Are you sure you want to permanently delete this committee?</p>
        <table class="tableCenter">
            <tr>
                <td class="columnLabel boldText">Name:</td>
                <td><%= @committee.name %></td>
            </tr>
            <tr>
                <td class="columnLabel boldText">Description:</td>
                <td><%= @committee.description %></td>
            </tr>
        </table>
        <div class="divCenter">
            <%= f.submit("Delete Committee", :class => "btn btn-danger btn-sm") %>
            <%= link_to("Back to List", committees_path, :class => "btn btn-warning btn-sm") %>
        </div>
    <% end %>
</div>
