<div>
    <h2>Committees</h2>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Image</th>
            <th></th>
        </tr>
        <% @committees.each do |committee| %>
        <tr>
            <td><%= committee.id %></td>
            <td><%= committee.name %></td>
            <td style="text-align:center"><%= image_tag(committee.image, :class => "thumb_size") %></td>
            <td>
                <%= link_to("Show", committee_path(committee.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Edit", edit_committee_path(committee.id), :class => "btn btn-primary btn-xs") %>
                <%= link_to("Delete", delete_committee_path(committee.id), :class => "btn btn-danger btn-xs") %>
            </td>
        </tr>
        <% end %>
    </table>
    <%= link_to("Add new committee", new_committee_path, :class => "btn btn-success btn-sm") %>
    <%= link_to("Back to menu", access_menu_path, :class => "btn btn-sm btn-warning")%>
</div>