<%= link_to("<< Back to List", committees_path, :class => "back-link") %>

<div>
    <h2>Create Committee</h2>
    <%= form_for(@committee) do |f| %>
        <%= error_messages_for(f.object) %>
        <table>
            <tr>
                <td>Name</td>
                <td><%= f.text_field(:name, size: 40) %></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><%= f.text_area(:description, cols: 40, rows: 10) %></td>
            </tr>
        </table>
        
        <div>
            <%= f.submit("Create Committee") %>
        </div>
    <% end %>
</div>
