
<div>
    <h2>Show Member</h2>
    
    <table class="tableCenter">
        <tr>
              <td class="columnLabel boldText">Member:</td>
            <td><%=image_tag @member.image.url(:small) %></td> 
        </tr>   
        <tr>
            <td class="columnLabel boldText">Name:</td>
            <td><%= @member.name %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Email:</td>
            <td><%= @member.email %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Password:</td>
            <td><%= @member.password %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Major:</td>
            <td><%= @member.major %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Grad Year:</td>
            <td><%= @member.grad_year %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Member since:</td>
            <td><%= @member.member_since %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Hometown:</td>
            <td><%= @member.hometown %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Position:</td>
            <td><%= collection_select(:member, :position_id, Position.order(:name), :id, :name, {}, {:multiple => false, :disabled => "disabled"}) %></td></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Division:</td>
            <td><%= collection_select(:member, :division_id, Division.order(:name), :id, :name, {}, {:multiple => false, :disabled => "disabled"}) %></td>
        </tr>
    </table>
    
    <div class="divCenter">
        <%= link_to("Back to list", members_path, :class => "btn btn-warning btn-sm") %>
    </div>
</div>
