<div>
    <h2>Show Parameters</h2>
    
    <!-- ***************************************************************** -->
    <!--                         Main Section                              -->
    <!-- ***************************************************************** -->
    <h3>Main Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Main image 1:</td>
            <td><%= @parameter.main_image_1 %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 1 title:</td>
            <td><%= @parameter.main_image_1_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 1 subtitle:</td>
            <td><%= @parameter.main_image_1_subtitle %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 2:</td>
            <td><%= @parameter.main_image_2 %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 2 title:</td>
            <td><%= @parameter.main_image_2_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 2 subtitle:</td>
            <td><%= @parameter.main_image_2_subtitle %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 3:</td>
            <td><%= @parameter.main_image_3 %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 3 title:</td>
            <td><%= @parameter.main_image_3_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 3 subtitle:</td>
            <td><%= @parameter.main_image_3_subtitle %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 4:</td>
            <td><%= @parameter.main_image_4 %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 4 title:</td>
            <td><%= @parameter.main_image_4_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 4 subtitle:</td>
            <td><%= @parameter.main_image_4_subtitle %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 5:</td>
            <td><%= @parameter.main_image_5 %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 5 title:</td>
            <td><%= @parameter.main_image_5_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 5 subtitle:</td>
            <td><%= @parameter.main_image_5_subtitle %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 6:</td>
            <td><%= @parameter.main_image_6 %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 6 title:</td>
            <td><%= @parameter.main_image_6_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Main image 6 subtitle:</td>
            <td><%= @parameter.main_image_6_subtitle %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         About Section                             -->
    <!-- ***************************************************************** -->
    <h3>About Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">About title:</td>
            <td><%= @parameter.about_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">About description:</td>
            <td><%= @parameter.about_description %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Committees Section                        -->
    <!-- ***************************************************************** -->
    <h3>Committees Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Committees title:</td>
            <td><%= @parameter.committees_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Committees description:</td>
            <td><%= @parameter.committees_description %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Sponsors Section                          -->
    <!-- ***************************************************************** -->
    <h3>Sponsors Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Sponsors title:</td>
            <td><%= @parameter.sponsors_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Sponsors description:</td>
            <td><%= @parameter.sponsors_description %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Events Section                            -->
    <!-- ***************************************************************** -->
     <h3>Events Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Events title:</td>
            <td><%= @parameter.events_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Events description:</td>
            <td><%= @parameter.events_description %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Members Section                           -->
    <!-- ***************************************************************** -->
    <h3>Members Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Executive board title:</td>
            <td><%= @parameter.exboard_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Executive board description:</td>
            <td><%= @parameter.exboard_description %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Executive council title:</td>
            <td><%= @parameter.excouncil_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Executive council description:</td>
            <td><%= @parameter.excouncil_description %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Login Section                             -->
    <!-- ***************************************************************** -->
    <h3>Login Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Login title:</td>
            <td><%= @parameter.login_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Members title:</td>
            <td><%= @parameter.members_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Members description:</td>
            <td><%= @parameter.members_description %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Members URL:</td>
            <td><%= @parameter.members_link %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Members footer:</td>
            <td><%= @parameter.members_footer %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Students title:</td>
            <td><%= @parameter.students_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Students description:</td>
            <td><%= @parameter.students_description %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Students URL:</td>
            <td><%= @parameter.students_link %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Students footer:</td>
            <td><%= @parameter.members_footer %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Companies title:</td>
            <td><%= @parameter.companies_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Companies description:</td>
            <td><%= @parameter.companies_description %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Companies URL:</td>
            <td><%= @parameter.companies_link %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Companies footer:</td>
            <td><%= @parameter.companies_footer %></td>
        </tr>
         <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Contact Us Section                        -->
    <!-- ***************************************************************** -->
    <h3>Contact Us Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Contact us title:</td>
            <td><%= @parameter.contactus_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Contact us header:</td>
            <td><%= @parameter.contactus_header %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Contact us address:</td>
            <td><%= @parameter.contactus_address %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Contact us phone:</td>
            <td><%= @parameter.contactus_phone %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Contact us URL:</td>
            <td><%= @parameter.contactus_url %></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    
    <!-- ***************************************************************** -->
    <!--                         Calendar Section                          -->
    <!-- ***************************************************************** -->
    <h3>Calendar Section</h3>
    <table class="tableCenter">
        <tr>
            <td class="columnLabel boldText">Calendar title:</td>
            <td><%= @parameter.calendar_title %></td>
        </tr>
        <tr>
            <td class="columnLabel boldText">Calendar description:</td>
            <td><%= @parameter.calendar_description %></td>
        </tr>
    </table>
    
    <div class="divCenter">
        <%= link_to("Back to list", parameters_path, :class => "btn btn-warning btn-sm") %>
        <br /><br /><br />
    </div>
</div>
